version: 4.5.1-388536d4

slug: cribl-edge
name: Cribl Edge
description: Cribl's agent for exploring, collecting, transforming, and routing logs and metrics
url: https://github.com/pdugas/hassio-addons/cribl-edge

arch:
  - aarch64
  - amd64

init: false
  
ingress: true
ingress_port: 9420

watchdog: "http://[HOST]:[PORT:9420]/api/v1/health"

panel_admin: true
panel_title: "Cribl Edge"
panel_icon: "mdi:cribl-edge"

options:
  CRIBL_DIST_MODE: "edge"
  
schema:
  CRIBL_DIST_MODE: "match(^(edge|managed-edge)$)"
  CRIBL_DIST_MASTER_URL: "url?"

environment:
  CRIBL_VOLUME_DIR: /data/cribl-data


map:
  - homeassistant_config
journald: true
host_network: true
hassio_api: true
homeassistant_api: true
